[2021-12-29 08:41] dim-geo opened #31 "[BUG] lua bit32 module is not available in turris omnia"
**Describe the bug**
lua bit32 module is not available in turris omnia

**To Reproduce**
Steps to reproduce the behavior:
Try to run the script in latest stable turris omnia

**Expected behavior**
It should be able to run

**Screenshots**
[code]

**OpenWrt Details (please paste your output from `cat /etc/os-release`):**
 - OS-Release:
[code]
**Additional context**
Can we use the module bitop inste

[2021-12-29 13:00] Fail-Safe opened #32 "[BUG] Error relocating /usr/lib/lua/lanes/core.so: pthread_yield: symbol not found"
**Describe the bug**
As the SNAPSHOT branch of OpenWrt has upgraded to a newer version of GNU C from that which 21.02 uses, `pthread_yield()` is has been fully deprecated now. Therefore, in place of `pthread_yield()` another function call, `sched_yield()`, must be used.

**To Reproduce**
[code]

**Expected behavior**
The error should not exist and the Lua script should execute as normal.

**Screen

[2021-12-29 13:04] Fail-Safe commented on #32
As I found this issue originally in development, I have already produced a patch to resolve this. However the patch must be included in a SNAPSHOT build, so this might be an issue for those running pre-compiled snapshot releases.

The patch:
https://github.com/Fail-Safe/sqm-autorate/blob/testing/lua-threads/patch/300-fix-gnu-c-pthread_yield-error.patch

Where to place:
/openwrt/feeds/packages/lang

[2021-12-29 13:24] richb-hanover opened #33 "[FEATURE] Include some kind of version number"
As we move forward, we are increasingly going to be asking "What version are you using?"

At the moment, there's no good answer... ("Hmmm... I think it's the one that I downloaded after we fixed X...")

I don't know a good solution for this, but it would be slick to offer one of these:
- cat a file that has a "version" string/property
- `sqm-autorate.lua --version`
- or something else....

Thanks.

[2021-12-29 14:24] Lochnair commented on #31
Pushed a possibly fix for bit32 to my own branch: https://github.com/Fail-Safe/sqm-autorate/commit/5a916f705711753032a70416bec3b0fb6be26a0f

Please test with that and see if that helps.

[2021-12-29 15:09] Fail-Safe commented on #33
This is a great point and I actually made a very last-minute add to work a version into the code. But I didn't provide a clean way to expose it via CLI yet.

Reference:
https://github.com/Fail-Safe/sqm-autorate/commit/c663b2fa57b9adf1d45762b3c079d0d600eed349

I will work on a true arg-based way to expose this because I fully agree that it is going to be critical for ongoing support.

[2021-12-29 15:10] Fail-Safe commented on #33
Is everyone good with sticking to SemVer convention for versioning? https://semver.org/

[2021-12-29 16:22] richb-hanover commented on #33
A thought... Move the:

line into the first few lines, so that the `getstats.sh` script could issue `head /usr/lib/sqm-autorate/sqm-autorate.lua` to display its version number

[2021-12-29 16:26] richb-hanover commented on #33
And Yes to SemVer.

[2021-12-29 16:30] Fail-Safe commented on #33
Should we just scrape it out in the short-term like so?
[code]

[2021-12-29 16:31] Fail-Safe commented on #33
Regardless, I am presently working on getting argparse into the script so I can return this version and any other future args we might want to handle.

[2021-12-29 17:01] Fail-Safe commented on #33
@richb-hanover How does this look to you?

[code]

[2021-12-29 18:39] Fail-Safe commented on #33
I need to update this idea since lua-argparse is not available for OpenWrt 19.07.

[2021-12-29 18:54] richb-hanover commented on #33
This looks perfect. (I can live without 19.07 in the first round of testing...)

[2021-12-29 18:54] #33 closed

[2021-12-29 19:07] Fail-Safe commented on #33
@richb-hanover I just updated the code to take advantage of argparse if it is available, and if not, no error and the code just rolls on without it. The end-user will just lose some of the niceties of any arguments/options we might add down the road.

[2021-12-29 19:09] richb-hanover commented on #33
Perfect.

[2021-12-29 19:10] richb-hanover commented on #33
PS Inching closer to 2.0X or maybe even 2.5X :-)

[2021-12-29 19:51] Fail-Safe commented on #31
@dim-geo  Can you confirm if this is fixed for you on the `testing/lua-threads` branch?

[2021-12-29 20:57] richb-hanover opened #36 "[ENHANCEMENT] Questions/Tweaks to the setup script..."
**Script Version**
Current `sqm-autorate-setup.sh` script... (see below for output)

**Describe the bug**
Not a bug. Some suggested changes to the text and sequence of the script...

**Priority:** Medium to low - we have a lot of testing of the basic script functionality before thinking about the fussy details of installation process...

* When script detects SQM, change the message to:
`SQM (luci

[2021-12-30 12:04] richb-hanover opened #37 "[BUG] sqm-autorate service stops/crashes with OOM error"
**Script Version** 0.0.1b2

**Describe the bug**
Run the getstats.sh script, and `grep lua`. It gives several "oom-killer" messages in a short time.

**OpenWrt Details (please paste your output from `cat /etc/os-release`):**
 - OS-Release: 21.02, but see Details below...
 - Connection Type + Speed:

[code]

<details>

[code]

</details>

[2021-12-31 15:18] dim-geo commented on #31
This part needs fixing as well:

[code]

[2021-12-31 19:03] Fail-Safe commented on #31
This should now be resolved. I merged an update for this into the lua-threads branch. Can you please install the latest and test again for us?

[2022-01-03 00:24] dveith opened #45 "[BUG] sqm-autorate service fails to start after reboot"
**Script Version**
sqm-autorate.lua v0.0.1b4

**Describe the bug**
When sqm-autorate is configured as a service it fails to start after a reboot. But subsequently manually starting the service is successful.

**Screenshots**
If applicable, add screenshots to help explain your problem.

![image2](https://user-images.githubusercontent.com/2898024/147893134-a5bfe2bf-7fd6-46d1-9d62-9be95aa75e12.jpg)

[2022-01-03 03:58] Fail-Safe commented on #45
Could you please update to the latest `testing/lua-threads` code and see if this has resolved this issue for you?

[2022-01-03 04:30] #31 closed

[2022-01-03 08:03] chas-iot commented on #36
**Is the setup script idempotent? That is, can I run it multiple times, either with the same files, or to update files, and have it continue to work as expected?**
From my testing, the answer is yes to this point.

[2022-01-03 12:17] richb-hanover commented on #37
Still present with 0.0.1b5 version of **testing/lua-threads** branch, which I installed yesterday evening.

The OOM message happened at 6:19am this morning - everyone here was in bed, so it's unlikely that there was much activity.

[code]

[2022-01-03 12:21] richb-hanover opened #47 "[BUG] "lua sqm-autorate.lua version" option gives stack trace"
**Script Version**
0.0.1b5 version of the testing/lua-threads branch

**Describe the bug**
`lua /usr/lib/sqm-autorate/sqm-autorate.lua version` gives a stack trace (below)

**Expected behavior**
Display version string

If I add LUA_PATH and LUA_CPATH environment variables it works.

**OpenWrt Details (please paste your output from `cat /etc/os-release`):**
 - OS-Release: 21.02.1
 - Connection Type

[2022-01-03 13:22] dim-geo opened #48 "logrotate files in tmp"
sqm-autorate service is using it's own log which is not rotated.
That can cause an issue and fill RAM.
Consider using syslog that is automatically rotated by the system.

https://github.com/Fail-Safe/sqm-autorate/blob/6a1f66cece3c4fc2bcd5e29ffdd96b99067a513b/service/sqm-autorate.service#L13

[2022-01-03 15:51] dveith commented on #45
This is no longer having this issue on sqm-autorate.lua v0.0.1b7.  Thank you.

[2022-01-03 15:52] #45 closed

[2022-01-03 16:12] Fail-Safe commented on #37
@richb-hanover The first oom-killer even you saw was at 6:24am and the second at 6:19am. Do you have any cron jobs that run around the same time of day?

[2022-01-03 22:15] richb-hanover commented on #37
No. The "Scheduled Tasks" pane is empty, and I don't remember anything I would have configured. (But that coincidence - within five minutes of each other on different days - is pretty odd...)

I just rebooted my router, and I'll watch to see if it happens again.

[2022-01-03 22:18] richb-hanover opened #51 "[BUG] sqm-autorate doesn't restart after reboot"
**Script Version** 0.0.1b5 version of **testing/lua-threads**

**Describe the bug**
After rebooting the router, the `sqm-autorate` service doesn't seem to restart.

**To Reproduce**
Steps to reproduce the behavior:
1. Reboot the router
2. Examine `top`. No sign of `sqm-autorate.lua`
3. Issue `service sqm-autorate start`
4. `top` shows the lua script immediately

**Expected behavior**
`sqm-autorate

[2022-01-03 22:58] richb-hanover commented on #37
New information: Just documenting some other (non definitive) symptoms. The two charts below are ping times to Google.com (yellow).

A few minutes before 06:24 on 30 Dec, there was a burst of traffic (latency, actually) that seemed to have abated around the time of the lua-oom messages. The previous few hours look similar to the time prior to the burst.
<img width="907" alt="image" src="https://us

[2022-01-04 00:57] Fail-Safe commented on #51
This was fixed in `testing/lua-threads` 0.0.1b6 per https://github.com/Fail-Safe/sqm-autorate/issues/45.

[2022-01-04 00:57] #51 closed

[2022-01-04 17:24] richb-hanover opened #54 "[BUG] One or both stats files could not be read..."
**Script Version** "0.2.1" - current checkout from **testing/lua-threads**

**Describe the bug**
No rate control - `tc -s qdisc | grep bandwidth` remains at original SQM setting

**To Reproduce**
Steps to reproduce the behavior:
1. use  wget to run the uninstall.sh script
2. use the wget to run the setup.sh script. I used:
   `sh -c "$(wget -q -O- https://raw.githubusercontent.com/Fail-Safe/sqm-au

[2022-01-04 17:36] richb-hanover commented on #51
Yes, verified with version 0.2.1. Thanks!

[2022-01-04 22:10] Fail-Safe commented on #36
@chas-iot Yes sir, it is idempotent as it currently is written. The intent was to have it be such so it was very easy to have a "one-click" way to stay up to date, or just reset one's environment if something gets screwed up.

The exception to this, and this can be discussed further, is the script will **not** overwrite an existing sqm-autorate config file in /etc/config/. I debated on how to hand

[2022-01-04 23:06] Lochnair commented on #47
Right, really need to get a package for vstruct done. Will have a look at that ASAP

[2022-01-05 22:04] richb-hanover commented on #37
Once again, I saw an OOM error message: I don't know what version I was using (maybe `github-issue-54`?) but just before 9:15am today there was a burst of latency (similar to the ones in the chart above), virtually no traffic. Just a mystery...

[code]

[2022-01-06 09:23] moeller0 opened #64 "[FEATURE] exchangable ratecontrol"
We have been discussing the option of having selectable ratecontrol modules, how shall we do this in a way that the ratecontrol can be changed from the config file?

Just multiplexing different behavior into the existing ratecontrol module would work but feels a bit unclean. Especially since I want to drive ratecontrol not (just) by a timer but by each received and baselined packet (basically have

[2022-01-06 09:51] Lochnair commented on #64
Being more easily able to swap out parts of the code is a big motivation behind #61

I'll have to think about it a bit, but it should be reasonably easy to extend that to let us have different ratecontrol modules to choose from

[2022-01-06 09:54] moeller0 commented on #64
Thanks!
I saw that, and thought now is the time to bring this up since major surgery is happening so a small change can be shoed in hopefully relatively easy.

[2022-01-06 12:13] richb-hanover commented on #37
Happened again overnight.  See the openwrtstats.txt file (attached) for lots of detail. Things I noticed when I arrived this morning:

* I had been happily running 0.3.0 from the `testing/lua-threads` branch.
* In the morning, I found the bandwidths set to my minimums.
* `sqm-autorate.lua` was NOT running (by observing `top`)
*  The last time the `/tmp/sqm*` files were updated was 02:36
* Examinin

[2022-01-06 15:58] Fail-Safe commented on #54
@richb-hanover Would you say this has been resolved in v0.3.0 and can be closed?

[2022-01-06 22:11] richb-hanover commented on #54
Yes, let's close this. 0.3.0 seems to be working

[2022-01-06 22:11] #54 closed

[2022-01-06 22:15] richb-hanover commented on #47
Since the setup.sh script works fine as-is, we might not need a vstruct package.

Naive question about Lua - would it be possible to display the version number without attempting to load in the vstruct module?

[2022-01-06 22:53] Lochnair commented on #47
Just my personal preference having packages for the libraries we need to be fair, but no we don't _need_ it
We might be able to use a luarocks option to install vstruct in the place OpenWrt looks for it, so you can run the script without copying the LUA_PATH environment variables.

That is actually solved in the `refactor-to-modules` branch I believe. Most modules are now loaded inside the `conduc

[2022-01-07 16:21] richb-hanover commented on #37
New report: Seems to have happened again overnight again. Even better diagnostic info in the openwrtstats.txt file (attached) Symptoms:

* Awoke to see service stopped (lua script doesn't appear in `top`);
* `tc -s qdisc` command shows the bandwidth settings at my minimums;
* logread shows a Lua OOM error at 09:16
* `/tmp/sqm*` files all stopped updating at 09:16
* I used this command to copy the

[2022-01-09 14:53] moeller0 commented on #64
While pondering this, it seems that selectable ratecontrol might not be needed.

[2022-01-09 14:53] #64 closed

[2022-01-10 03:30] Fail-Safe opened #83 "Abnormally high delta on single reflector"
### Discussed in https://github.com/Fail-Safe/sqm-autorate/discussions/82

<div type='discussions-op-text'>

<sup>Originally posted by **Fail-Safe** January  9, 2022</sup>
Per @Lochnair:

[code]

[2022-01-11 15:08] jeverley opened #93 "Missing curl command when running setup"
**Script Version**
v0.4.3

**Describe the bug**
When running the setup script on a clean OpenWrt install will result in an error as curl isn't installed by default.
Replacing 'curl -o' with 'wget -O' will result in a successful installation using the builtin wget.

[2022-01-11 15:24] jeverley opened #94 "Ingress autorate does not work when using br-lan as the download_interface"
**Script Version**
v0.4.3

**Describe the bug**
The service incorrectly reads the upload rate rather than download rate when SQM wan ingress is configured on device br-lan
This setup can be used to facilitate DSCP based ingress classification on routers without a wifi interface, the setup is similar to that used for ifb/veth devices which are currently handled by the service by reading device tx_b

[2022-01-11 17:32] Fail-Safe commented on #94
@jeverley Could you please take a look at #96 and let me know if that adequately addresses the issue for you?

[2022-01-11 19:21] #94 closed

[2022-01-12 01:18] chas-iot opened #98 "[BUG] plotstats.jl crashed because ''length is too large""
**Script Version**
0.4.3

**Describe the bug**
plotstats.jl crashed with message 'ERROR: LoadError: ArgumentError: length argument to Parsers.PosLen (7015180) is too large; max length allowed is 1048575'

**To Reproduce**
Ran plotstats.jl on csv files from about 14 hours of an uninterrupted run of the script

**Expected behavior**
This may be be a limitation of the underlying Julia installation. I

[2022-01-12 01:39] Fail-Safe commented on #93
In the current README, under Installation --> Step 3, we have this:

[code]

Do you agree this should be sufficient or do we need to further clarify something in the README?

[2022-01-12 10:26] jeverley opened #99 "Service crash when a wan interface is brought up/down (regardless of log level)"
**Script Version**
v0.4.3

**Describe the bug**

In support of discussion around multi interface support I've been testing current service behaviour when interfaces are brought up/down.

I've found that when a wan device interface is brought up or down it results in a crash due to the string.format() function encountering a nil as one of its inputs (the function doesn't support converting nils).

[2022-01-12 10:53] jeverley commented on #93
Hi @Fail-Safe that part is fine, however within the sh script itself it currently uses the non-core curl command to download the service files in section:

[code]

Amending this to the following removes the dependency:

[code]

[2022-01-12 11:40] Fail-Safe commented on #93
Ah yes! I'm following you now and you are spot-on. That is an admittedly huge miss.

Okay, so yeah this very much needs to be addressed. I'll tackle this one quickly!

[2022-01-12 12:13] #93 closed

[2022-01-12 14:18] jeverley opened #101 "Service crash when one or both stats files could not be read (when an interface device is removed - tun/ppp devices, modem resets)"
**Script Version**
v0.4.3

**To Reproduce**
The interface device is removed from the system, this can occur when TUN/ppp interfaces are torn down, or if a modem is reset.

**Describe the bug**
When the below condition is met (unable to read tx/rx stats) the service crashes because the log output line attempts to concatentate the nil next rate values with strings:

[code]

This could be addressed b

[2022-01-12 21:29] dlakelan opened #102 "[BUG] Update the README in testing/lua-threads to reflect new variable names"
on testing/lua-threads the README still uses the older variable names in the instructions how to configure.

[2022-01-13 05:51] chas-iot commented on #98
Today, I ran the plotstats on a 25 hour run and it was successful. I'll close this as unrepeatable and if it re-occurrs, I'll upload the csv files.

[2022-01-13 05:51] #98 closed

[2022-01-13 10:02] malikshi opened #105 "[BUG] sqm-autorate stopped whenever interface or WAN router restarted"
**Script Version**
The version which exhibited this bug behavior. Can be found via `/usr/lib/sqm-autorate/sqm-autorate.lua -v` or in the first line of `/tmp/sqm-autorate.log`.
version: `Starting sqm-autorate.lua v0.4.3`
log from `/usr/lib/sqm-autorate/sqm-autorate.lua -v`
[code]
log from `/tmp/sqm-autorate.log`
[code]
**Describe the bug**
A clear and concise description of what the bug is.
I think

[2022-01-13 12:50] richb-hanover opened #106 "[BUG] Crash report 0.4.3 "Something went wrong in the regulator thread""
**Script Version** 0.4.3

**Describe the bug**

sqm-autorate.log shows:

[code]
**To Reproduce**
Steps to reproduce the behavior:
1. Remove previous version with `remove.sh` verify files are not present
2. Install `setup.sh`
3. Edit `/etc/config/sqm-autorate` as instructed
4. Start the service.
5. `tail -f /tmp/sqm-autorate.csv` doesn't show any change to the settings
6. `tc -s qdisc` shows ~5mbps

[2022-01-13 13:01] malikshi commented on #105
I never used `log_level=DEBUG` so I will try those setting later and I can test your adjustment too.

[2022-01-13 13:01] jeverley commented on #106
HI @richb-hanover  please can you take a look at #99 and confirm whether this looks like the same issue? I've a proposed amendment to the logging line in that issue which you could test.

[2022-01-13 13:09] jeverley commented on #105
Good call out, it will actually affect all log levels since the nested string.format function is executed before calling the logger function. The fix should work regardless of log level 🙂 I'll correct that assessment in the original issue.

[2022-01-13 13:19] richb-hanover commented on #106
Looks similar. I'll try your patch later this morning

[2022-01-13 22:10] malikshi commented on #106
did the patch from @jeverley fixed your problem?

[2022-01-13 22:14] malikshi commented on #105
the service seem having problem for all type of log level. Mine crashed after few hour running at log_level INFO here
[openwrtstats.txt](https://github.com/Fail-Safe/sqm-autorate/files/7866337/openwrtstats.txt)

[2022-01-13 22:40] richb-hanover commented on #106
Yes - It fixed the problem

[2022-01-14 01:49] Fail-Safe commented on #106
Fixed in `testing/lua-threads` per dc7c36c9d4992d99b4f1cbb3d603bf6383656814.

[2022-01-14 01:49] #106 closed

[2022-01-14 01:49] Fail-Safe commented on #99
Fixed in `testing/lua-threads` per dc7c36c9d4992d99b4f1cbb3d603bf6383656814.

[2022-01-14 01:49] #99 closed

[2022-01-14 04:27] #102 closed

[2022-01-14 08:09] jeverley commented on #105
Hi @malikshi, that's good news on the first issue.
You're now seeing the issue I reported in https://github.com/sqm-autorate/sqm-autorate/issues/101.
There's a proposed fix for this too.

[2022-01-14 12:40] malikshi commented on #105
@jeverley

[code]
i tried your patch #112 indeed it's keep services stay alive. and of course thread still UP too.
checking time to time the `tc qdisc` no any changes so the rate control stopped.
[code]

[2022-01-14 14:04] jeverley commented on #105
Thanks for the feedback @malikshi, I can replicate this my end too will look at the trances and make additional fixes in PR 112 then.

[2022-01-14 15:44] jeverley commented on #105
HI @malikshi would you like to try the updated changes in #112 ? It's now handling this scenario correctly on my system.

In summary, once the device is re-connected the old file descriptors for the rx/tx stats files are no longer valid.
The ratecontrol function will now attempt to re-open these in the event that the bytes values cannot be read, it will also ensure the previous bytes and reading t

[2022-01-14 17:12] trippleflux opened #114 "[BUG]Upload & Download are always stuck at ~108 Mbps"
**Script Version**
https://github.com/sqm-autorate/sqm-autorate/blob/develop/fix-for-gh-101/lib/sqm-autorate.lua

**Describe the bug**
Upload & download speed stuck at ~108 Mbps

**To Reproduce**
If you are having around asymmetric  ~180Mbps line then try to use below sqm-autorotate config.
Observe even tough already waiting for around 10 minutes, the speed is awalys capped at ~108 Mbps

**Config*

[2022-01-14 17:39] jeverley commented on #114
Hi @trippleflux, are you able to confirm if the file you have is newer or older than commit? https://github.com/sqm-autorate/sqm-autorate/pull/112/commits/2722a4c14a4ffcfe3e1ad6a3bd8be0cb89fe877a.

[2022-01-14 17:51] trippleflux commented on #114
Yes already in 2722a4c14a4ffcfe3e1ad6a3bd8be0cb89fe877a, I was using wget to grab the raw sqm-autorotate.lua and put it into /usr/lib/sqm-autorotate & chmod +x .

[2022-01-14 17:56] trippleflux commented on #114
Addition, "testing/lua-threads" branch is also having this issue.

[2022-01-14 18:05] jeverley commented on #114
Thanks for confirming @trippleflux, looking at the rates in that log I can see that they are 60% of the base rates you've specified. When the service starts it sets the qdisc rates to this percentage so that the ping baseline algorithm isn't influenced by bufferbloat.

Do you see any rate changes when you put the connection under load, for example during a speedtest?

[2022-01-14 18:11] trippleflux commented on #114
Hmm, the rate is conssitent at "next_ul_rate 102000 next_dl_rate 108000"

Setting the config as below also getting the same rate as above.
[code]

[2022-01-14 18:27] Lochnair commented on #114
@trippleflux
I think we'll probably need both `/tmp/sqm-autorate.csv` and `/tmp/sqm-autorate.log` to help us figure this out. Wouldn't hurt to turn up the logging level as well (e.g. to DEBUG)

[2022-01-14 18:41] trippleflux commented on #114
Restarted my OpenWRT router and here is the 5 minutes of uptime as longer running time is also resulting the same up & down rate
[sqm-autorate.csv](https://github.com/sqm-autorate/sqm-autorate/files/7872513/sqm-autorate.csv)
[sqm-autorate.log](https://github.com/sqm-autorate/sqm-autorate/files/7872514/sqm-autorate.log)

the "next_ul_rate 102000 next_dl_rate 108000" is still stuck.

[2022-01-14 23:11] malikshi commented on #105
@jeverley, I tested by restarting the interface and yes it works as you mentioned above.

[2022-01-16 15:55] richb-hanover commented on #37
I am closing this report since it's from an ancient version. I still see this behavior (sqm-autorate service stopping), but with 0.4.4 (from the `testing/lua-threads` branch.) I will file a separate report shortly

[2022-01-16 15:55] #37 closed

[2022-01-17 15:06] richb-hanover opened #119 "[BUG] Speed keeps dropping to minimum"
**Script Version** 0.4.4

**Describe the bug**
My speeds to the CAKE keep dropping to the minimum value configured when the line is idle. This was earlier diagnosed as being caused by latency spikes. (I had reported this earlier, but closed that issue because it was for an enormously old version.) Here's a chart:

![timeseries](https://user-images.githubusercontent.com/1094930/149792595-1f1a4cf4-1

[2022-01-17 15:25] richb-hanover commented on #47
I'm going to close this for now. We no longer recommend manual testing, so it'll be relatively rare that someone bumps into it.

[2022-01-17 15:25] #47 closed

[2022-01-18 01:30] chas-iot commented on #119
My understanding is that this is functioning as designed.  I’m commenting here so that, whether my understanding here is correct or not, we can update the documentation.

If there is a latency spike (even transient) when there is low/no load, then the rate is dropped to minimum. In compensation, as soon as there is load and no delay, the speed will be hiked instantly.

[2022-01-18 13:17] richb-hanover commented on #119
Thanks for the follow-up. Other thoughts:

1. I'm reporting the behavior to see if that matches what we think it should do.
2. But I'm only reporting, not complaining. From a user standpoint, the CAKE settings ramp up quickly (nearly immediately) in normal use.
3. Any ideas why the latency spikes so regularly? I count about 35 regularly spaced spikes across the ~10 hours of the chart, or a few per

[2022-01-18 13:30] richb-hanover opened #120 "[BUG] 0.4.4 stops running (crashes?) overnight"
**Script Version** 0.4.4

**Describe the bug**
I start sqm-autorate as normal, it works fine, but when I check in the morning, it's not running. I don't see `sqm-autorate.lua` in `top`, `tc -s qdisc` is static, and no data are being written to `/tmp/sqm-autorate.csv`

**To Reproduce**
Steps to reproduce the behavior:
1. Use remove.sh and setup.sh scripts from `lua-threads` branch
2. Set upload and

[2022-01-18 13:54] chas-iot commented on #120
possible duplicate of #48 ?

[2022-01-18 13:59] richb-hanover commented on #120
This is likely to be exactly the same problem. This report contains a bunch of debugging info if that became helpful. Thanks.

PS And how would I turn off all the logging to avoid this problem?

[2022-01-18 14:07] chas-iot commented on #120
In `/etc/config/sqm-autorate`, change `log_level` to WARN, ERROR, or FATAL.

This will largely mitigate but not prevent the issue because /tmp/sqm-autorate.csv can also grow unbounded, but at 1/10 the rate of /tmp/sqm-autorate.log

[2022-01-18 14:54] chas-iot commented on #119
Checking the graph, the load goes above 1 and often as far as 1.25,. The regularity and the load are strongly indicative that the cause is the speed test you mentioned.

Remember that the load reported in the graph is relative to the CAKE speed set by sqm-autorate at that moment, and is not relative to the current capacity of the connection to the ISP. This distinction is (I believe) important to

[2022-01-18 18:21] richb-hanover commented on #120
Actually, the log_level only affects the sqm-autorate.log file (via the logger() function). Both the sqm-autorate.csv and sqm-speedhist.csv files are written through their own fd:write() calls.

[2022-01-19 03:36] chas-iot commented on #48
Should log-rotate should also apply to the stats files?

Should log-rotate also incorporate log deletion? Say an option to keep only the current and previous, only the current, or keep all?

[2022-01-19 12:58] richb-hanover commented on #120
The problem seems to have been running out of space on the `/tmp` file system. It ran overnight with my local change.

I updated my copy of _sqm-autorate.lua_ to include a new `csv_logger()` function that handles the CSV files AND observes `use_loglevel.level.` Here's the code (inserted above `logger()` function).

[code]
and I modified the (four) calls to `xxx_fd:write()` in the obvious way, i.e.

[2022-01-24 18:42] Fail-Safe commented on #105
Adding this confirming this is existing in v0.4.4 as well:

[code]

[2022-01-24 20:34] richb-hanover opened #127 "[FEATURE] Reconsider decision (not) to use /etc/config/sqm as a base"
I am somewhat frustrated that (a while back) we decided not to use `/etc/config/sqm` as a base for the `sqm-autorate` settings. I would like to bring this up again, because doing this would be a real boon to adoption.

After installing and configuring SQM (via, say `luci-app-sqm`), there are good and useful values in its config file: both the proper interface, and the base settings.

It's easy for

[2022-01-24 20:35] richb-hanover commented on #120
I committed version 0.4.5 that introduces a `csv_logger()` function that honors the `log_level`. That addresses my concerns. https://github.com/sqm-autorate/sqm-autorate/commit/a566f02a15f6441353359c01d2f81a4243bb7f1a

[2022-01-24 20:35] #120 closed

[2022-01-24 20:36] #36 closed

[2022-01-24 20:43] richb-hanover opened #128 "[BUG] setup.sh script fails when SQM not installed"
**Script Version** `testing/lua-threads` version 0.4.5

**Describe the bug**
Running the updated `setup.sh` script gives an error when the script attempts to install `sqm` itself. It gives a message "uci: Entry not found" and exits. (See full script below.)

[code]

**To Reproduce**
- Log into router that does *NOT* have SQM (or `luci-app-sqm`) installed
- I created a new `/tmp/setup.sh` file and

[2022-01-24 20:47] richb-hanover commented on #128
Never mind - PEBCAK (Problem Exists Between Chair And Keyboard). I found the 'uci' error was a completely unrelated file using this command:

`for x in /etc/config/*; do uci show "${x##*/}" >/dev/null || echo "$x is broken"; done`

found on the Forum at https://forum.openwrt.org/t/parse-error-with-uci-commit-solved/54063/3

[2022-01-24 20:47] #128 closed

[2022-01-25 05:36] chas-iot commented on #127
If this is desired then it **must** consider configurations with multiple independent sqm setups. Not impossible, also not straightforward.

[2022-01-25 12:35] richb-hanover commented on #127
Ah yes, multiple configurations... That was the blocker. At least this consideration is now called out in a separate issue, instead of buried in a Forum thread. Thanks.

[2022-01-29 21:42] jeverley opened #131 "[BUG] develop/main - crash due to unset SQMA_NO_STATISTICS environment variable"
**Script Version**
v0.4.4 - develop/main post merge of #123

**Describe the bug**

The service crashes when the no_statistics paremeter is not specified (either by config, cli arg or environment variable).

[code]

This is because of the following section of code:

[code]

The string.lower() function cannot be passed a nil input (which occurs when the environment variable is not set).
This can be

[2022-01-30 00:50] chas-iot commented on #131
oops, that clearly escaped my testing

[2022-01-30 01:24] chas-iot commented on #131
After checking, I was clearly working while too tired. There were several dumb issues in that section of code that were changed after being first tested then merged direct to develop/main.
Apologies

[2022-02-02 15:30] richb-hanover opened #138 "[BUG] Version 0.5.0-RC1 doesn't give good speeds"
**Script Version** 0.5.0-release candidate 1 from this morning

**Describe the bug**
Download speed doesn't get very high, and then gets yanked back down to minimum on a regular basis. Upload speed doesn't seem to be affected as much

**To Reproduce**
Steps to reproduce the behavior:
1. Run the `...remove.sh` from the `testing/lua-threads` That seemed to work as expected.
2. Run the `...setup.sh`

[2022-02-02 17:26] richb-hanover commented on #138
**Update:** The behavior was so unexpected that I did more checking...

1. It turns out there were two instances of `sqm-autorate.lua` running. (Check the `top` output) I killed both and restarted the service. Now only one is running. Things look better, but not perfect.
2. I still see the download speed setting dropped to 50% of the configured rate when there's not much happening. To be specific,

[2022-02-02 17:42] richb-hanover commented on #138
**Update x2:** I left the service running longer (it's been about a half-hour now) and the download speed is acting right - it's going up to a max of 46163 (again, within bounds from the 0.4.4 version) and staying there longer-term.

So (nearly) everything is explained:

- Is it reasonable to state that  the "rapid drop back to 50% speed" behavior only occurred during the "training interval"?

- W

[2022-02-03 02:55] richb-hanover opened #139 "[BUG] Version 0.5.0 uses 99% of CPU on Archer C7v2"
**Script Version** 0.5.0

**Describe the bug**
I had trouble getting `sqm-autorate` to go more than about half my ISP's speed when I installed it on an Archer C7v2. I did a bunch of debugging and found that `sqm-autorate.lua` was sometimes using 99% of the CPU:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Install 0.5.0 from the `testing/next` branch
2. Let it run
3. I cannot downl

[2022-02-03 03:15] #131 closed

[2022-02-03 03:16] #105 closed

[2022-02-03 03:16] #101 closed

[2022-02-03 03:26] chas-iot opened #140 "[FEATURE] What improvements could be made to the setup and remove scripts?"
Let's use this to gather requirements for future versions of the setup and remove scripts

1. Ensure that by default, _sqm-autorate_ does not fill the router storage and crash. More changes required elsewhere to support this, however the setup script will play a part.
2. see if we can pull some information from `/etc/config/sqm` - this is not done at the moment because there may be more than 1 CAK

[2022-02-03 09:08] chas-iot commented on #139
Is this reproducible?

[2022-02-03 14:24] richb-hanover commented on #139
It seems to be. I left it running overnight in a spare router, and it's still consuming 90+% of the CPU in `top' when the network is idle.

[code]

In my main router (TP-Link DIR-878) `sqm-autorate.lua` is using a lot less:

[code]

[2022-02-06 23:50] dim-geo commented on #139
It happens also in turris.

[2022-02-07 17:03] jeverley commented on #140
@chas-iot  apologies for the misclick! - I've been putting some thought to this, and also how we ought to manage config for multi interface setups. I'd like to get your thoughts on the following considerations:

- Should configuration be based around OpenWrt interface or underlying device?
Touched on in #103
My thoughts/considerations here:
  - OpenWrt manages network configuration per interface,

[2022-02-08 07:48] chas-iot commented on #140
@jeverley I see helping the ‘mainstream’ single wan interface user get the basics set up as a higher priority - i.e. where I expect to put my efforts. I’m finishing up the rate controller plugin (this week, I hope) then I’ll start looking at the setup script again.

Regarding the multi-interface, I’m not sure that the core _sqm-autorate.lua_ script is currently able to support this requirement - w

[2022-02-08 09:08] chas-iot commented on #140
alternatively _sqm-autorate.lua_ should largely work with primary/fallback interfaces where the speeds and delays are not too different between the two interfaces.

[2022-02-08 11:47] jeverley commented on #140
@chas-iot Definitely makes sense to prioritise this first 🙂 Just wanted to make sure this was on your radar when making implementation decisions.

I was able to address sending packets off the correct interface on my local branch based on 4.x code base prior to the modularisation merges, parked that whilst you were tidying things up ahead of v5 - I'll create a PR to merge the device pinning as wit

[2022-02-08 12:09] chas-iot commented on #138
Does it make sense to close this as not a bug?

[2022-02-08 12:26] richb-hanover commented on #138
Yes - I'll open a new issue if I see something odd. Thanks.

[2022-02-08 12:26] #138 closed

[2022-02-08 14:01] chas-iot commented on #139
I saw one other report of this 100% CPU use. @richb-hanover if you stop and restart v0.5 on Archer C7v2, does this behaviour re-occur? This is not to rule it out as a one-off but to get some idea of the shape of this issue.

[2022-02-08 15:10] Lochnair commented on #139
I'd also be curious to know which thread(s) is responsible for the high usage. Since the set_thread_name change is in this release.

Add `COMM` to active columns in htop to see the thread names:
![image](https://user-images.githubusercontent.com/954926/153015142-1b1db535-b54b-40a3-a9a5-4c55f240a385.png)

Result:
![image](https://user-images.githubusercontent.com/954926/153015394-97e4202b-7ef6-44ee

[2022-02-11 03:51] TaxFairness commented on #139
Sorry for taking long to get back to this...
* Yes, stopping and restarting the `sqm-autorate` service exhibits the behavior
* Here's the htop showing the thread names running on a TP-Link Archer C7 v2:

<img width="911" alt="image" src="https://user-images.githubusercontent.com/99080719/153534789-2836e0b9-8927-4c98-9d52-ead9e2564fd9.png">

* And here's regular old top...
<img width="912" alt="ima

[2022-02-11 03:58] richb-hanover commented on #127
Having taken a few days off from sqm-autorate, I realize that the installer could check the `/etc/config/sqm` and if there's only one interface, it could use the values.

If there are multiple sqm setups, then the installer could bail, with a warning to edit `/etc/config/sqm-autorate`... Thanks again.

[2022-02-11 16:35] richb-hanover commented on #139
Thanks for this - I'm installing now. A request: When you branch from, say 0.5.0, would you update the version number, even if it's "0.5.0-develop/cpu-profiling" so that we can tell which version's running? Thanks.

[2022-02-11 16:39] richb-hanover commented on #140
* `setup.sh` should stop, if not disable, any running `sqm-autorate` instances. (I was astonished to see two copies running 'til I figured out what happened...)

[2022-02-14 19:29] richb-hanover commented on #139
Question: As I was speculating about why the `baseliner` thread used so much of the processor, I decided to read through the code.

I note that the other threads (ping_sender, ping_receiver, peer_selector, etc) have a call to nsleep() that controls the rate they run.

It doesn't look as if `baseliner` has any calls to a sleep() - could that result in it being an "infinite loop"? (I'm entirely will

[2022-02-14 20:27] Lochnair commented on #139
I was thinking about having the setup script do that for you, if possible including the branch _and_ commit if possible. Would be rather helpful if we're not certain what exact version we're running.

I do still expect peaks even with my changes. That usually calms down after the peer reselector has done it's initial 40 runs with 30 sec between each, so around 20 minutes after startup till it stab

[2022-02-15 02:03] chas-iot commented on #139
I find that the patch reduced CPU usage noticeably. Difficult to tell exactly but in the 25% to 33% range on a high-end router

[2022-02-15 12:20] richb-hanover commented on #139
Maybe I'm muddying the waters... My reports from the last 24 hours are from the `develop/setup-config` branch.

Does that branch contain the patch that decreases CPU?

[2022-02-15 12:23] Lochnair commented on #139
About the lack of sleep in `baseline_calculator`, it doesn't need to as it blocks here:

[code]

When the first parameter for the `receive` call is `nil` it waits indefinitely until there's something in the queue to get,
meaning it will wait until `ping_receiver` has processed a packet and sent the stats. So that shouldn't use much CPU time.

What I found was that the `owd_data:get("owd_tables")`

[2022-02-15 12:36] richb-hanover commented on #139
OK. Newbie lua code-reader mistake. (Whew!)

I will switch back to the `develop/cpu-profiling` branch, especially on my Archer C7v2 that opened the initial report.

[2022-02-15 13:24] richb-hanover commented on #139
Update: Using ArcherC7v2 and the `develop/cpu-profiling` branch... CPU is still high during the training period. I will report back later on (after an hour?)

<img width="828" alt="image" src="https://user-images.githubusercontent.com/1094930/154066807-16786f1f-e61c-4225-b61f-a2b51185921f.png">

NB: For my own records: I installed this branch with these commands:

[code]

[2022-02-15 13:35] richb-hanover commented on #139
I think I must be doing something wrong... I installed the `develop/cpu-profiling` branch (using the procedure above) and let it run. There are many problems:

- Bursts of high CPU. `top` and `htop` show that. Sometimes `htop` fails to update for many seconds, then "catches up". The LuCI web gui gets slow, and sometimes it shows "RPC Error" or some such message indicating a slow response from the

[2022-02-15 17:32] richb-hanover commented on #119
I think this can be closed. The age of this code branch, plus the traffic spikes from my own particular environment make it less than useful to keep open.

I will re-open if I see odd things happening again.

[2022-02-15 17:32] #119 closed

[2022-02-15 17:33] richb-hanover commented on #127
The `develop/setup-config` is designed to address this. Closing this, will reopen new issues as needed.

[2022-02-15 17:33] #127 closed

[2022-02-15 17:35] Lochnair commented on #139
I believe the reason for all of it is that sqm-autorate exhausts the CPU, so there's not enough to spare for anything else running. So clearly as it stands today it's not suitable to use one devices without a beefy enough CPU.

I think we can get the CPU usage by quite a bit more, but I honestly don't know if we can get it to a level I'd consider acceptable on the ArcherC7v2 or similarly specced d

[2022-02-15 17:44] richb-hanover commented on #139
Perhaps it's unavoidable, but that would be a shame. (The ArcherC7 was voted the "Best internet router" by Wirecutter not that many years ago...)

I wonder if delaying the formatting of the printf() calls when not actually logging might make a difference. That is, the code currently does all the work to format the strings for the printf() call then says, "Oops... the level is WARN, so I'll throw t

[2022-02-16 02:02] chas-iot commented on #140
picking up #146

[2022-02-17 03:19] chas-iot commented on #114
@trippleflux if possible, could you test using @Lochnair's new branch `develop/cpu-profiling`?
This has a fix for excessive CPU utilisation that may be related to your issue.

If the router CPU is relatively low-powered, you may need to leave it running for, say 30-60mins, to get over the initial hump of searching for reflectors. If the CPU is beefy, the 20 mins should be enough.

[2022-02-17 12:52] richb-hanover opened #147 "Where's the storage? (High CPU usage...)"
I installed @chas-iot's `t` branch (https://github.com/chas-iot/sqm-autorate/tree/t) that incorporates cpu-profiling and the setup-config on my Archer C7v2 running 21.02.1.

I notice an odd pattern of CPU use: After an initial install, the CPU usage hangs around 50%. If I generate a bunch of traffic (to start training the sqm-autorate process), the CPU utilization jumps to ~100%.

BUT... After the

[2022-02-19 23:37] #140 closed

[2022-02-19 23:53] chas-iot commented on #139
closed by #148

[2022-02-19 23:53] #139 closed

[2022-02-20 14:17] Lochnair commented on #147
- The receiver thread blocks on recvfrom until a packet is available on the socket
- The packet is parsed and sent to a Linda that acts as a queue
- The baseliner thread blocks on receiving from the queue and handle any additions as soon as it can

So yeah, in theory we could end up with multiple items on the queue if the baseliner function isn't processing them fast enough

[2022-02-20 20:29] richb-hanover commented on #147
I'm feeling a fair amount of cognitive dissonance here... And I'm having a hard time believing that the _baseliner_ code actually requires that much CPU.

On the one hand, "all it's doing" - the baseliner - is comparing a bunch of readings from each ping packet (a straight-through set of if/then/else's) and setting some values in the owd_tables. (At least to my newcomer eyes...)

And on the other

[2022-02-20 22:20] Lochnair commented on #147
Yes, you are right, that really is all it does. I'm sure you understand my confusion when I saw how much CPU that thread used :P

We haven't, although I'm not sure I see a way for that to happen. Since it's a producer/consumer paradigm, if there's nothing in the queue it'll just wait until there is.

Not accounting for peer selection, the tick rate is 0.5s, and we spread apart sending packets to e

[2022-02-21 02:28] richb-hanover commented on #147
Thanks for the detailed response. A couple further thoughts:

re: "instrumenting the loop" I was wondering about replacing stats_queue:receive() with a "stub function" (no interprocess call - IPC) that simply returns a (constant) data structure that looks like real data. That could determine how much time it takes for a pass through the baseliner loop. (Or how many passes through the loop per seco

[2022-02-21 12:19] richb-hanover commented on #147
To be clear about my "instrumenting" comment... Perhaps we should create a "develop-profiling" branch that exists only run these tests. I won't control latency, but could answer these questions;

- how many loops per second for _baseliner_ if stats_queue:receive() returns a data value in 0msec?
- what's the max rate we can send pings (perhaps to localhost)?
- what's the max rate of receiving pings

[2022-02-21 18:06] trippleflux commented on #114
@chas-iot & @Lochnair

Thanks, now the base download & upload rate seems dynamic, been running it for 15 minutes, the maximum download & upload rate seems capped at ~100 Mbps-ish, even tough the config that I have set through configure.sh is the following :
[code]

example debug log of /tmp/sqm-autorotate.log :
[code]

Will run it overnight to see if there is any changes.

My OpenWRT hardware spec

[2022-02-22 09:25] trippleflux commented on #114
After around 12 hours running, it's the same still capped at ~100 Mbps both upload and download, forgot to make backup of sqm-autorate.csv, I have lost it when the router restart.

[2022-02-25 18:16] richb-hanover opened #150 "Mute error messages from remove.sh script"
The current (0.5.1) `sqm-autorate-remove.sh` script from the `testing/lua-threads` branch gives the following error messages when using the suggested command:

`--> luarocks remove vstruct && opkg remove luarocks lua-bit32 luaposix lualanes lua-argparse <--`

[code]
Those messages go away if `luaposix` is removed first, like this:

`--> luarocks remove vstruct && opkg remove luaposix && opkg remov

[2022-02-25 19:05] richb-hanover commented on #147
**Update:** CPU usage on my Archer C7v2 drops dramatically (down to ~20-30% continuous, with brief peaks of 60-70%) if I change `/usr/lib/sqm-autorate/sqma-settings.lua` to contain:

[code]
I suspect that decreases the "ping rate" as suggested above. I don't have a good setup for testing whether speed/latency is well regulated: I have 25mbps/25mbps fiber that gives good, constant speeds.

[2022-03-21 05:57] milesthenerd opened #152 "[BUG] Speed never changes from minimum"
**Script Version**
0.5.1

**Describe the bug**
Even after waiting several hours from the first run, the speed never changed from the minimum speed of 15 Mb/s down and 2 Mb/s up. Decided to run again with DEBUG log level and saw this output:

[code]

I'm assuming the `missing value error` is the main issue here, but I haven't been able to figure out what's going on. The `sqm-autorate.csv` file also

[2022-03-29 14:17] chas-iot commented on #152
I've not had time to look more deeply into this.

Please could you look through #118 and #112 and the linked issues, you may see if there is anything relevant to your situation?

The error messages relate to these 2 PRs

[2022-03-29 16:09] chas-iot commented on #152
I created a new branch `develop/file-error` with some extra error messages that should help track down the error.

To install
[code]

[2022-03-29 20:12] milesthenerd commented on #152
Alright so here's what I've discovered with that branch:

The error messages you added never triggered, so I added a debug message in `read_stats_file()` and saw that it is actually reading the rx/tx stat files just fine.

[code]

I double checked the values of `cur_rx_bytes` and `cur_tx_bytes` just before entering the if-statement that the added error messages were placed into, and they were fine

[2022-03-30 12:30] chas-iot commented on #152
@Fail-Safe @Lochnair @jeverley any ideas?

[2022-03-30 15:11] Fail-Safe commented on #152
@milesthenerd What is your connection type? I ask because we recently learned that Starlink is filtering out ICMP time response packets. Curious if you might be using an ISP that is also doing the same.

[2022-03-30 15:37] milesthenerd commented on #152
Ah, I am currently using Starlink as my ISP, so that would explain what's up. nping does indeed fail as well.

[2022-03-30 15:42] Fail-Safe commented on #152
Bummer! I'm sorry this project is not going to work for you right now, then.

There has been some discussion in the main sqm-autorate thread (in the OpenWrt forum) about alternate methods of measuring OWDs (moving away from ICMP TS), but none have really transpired as of yet.

[2022-03-30 15:49] chas-iot commented on #152
In my copious spare time ;-) I’ll see if I can come up with a more informative error message that does not introduce too much overhead.

[2022-03-30 15:53] jeverley commented on #152
@milesthenerd I've got a thread relating to this issue on the r/starlink subreddit - feedback from Starlink is that they're aware of the issue and intend to resolve longer term, I will keep that updated with any further feedback from them.

https://www.reddit.com/r/Starlink/comments/tdy5qe/icmp_type_14_timestamp_request_responses_being/

[2022-03-30 17:36] Lochnair commented on #152
@chas-iot My two cents for a simple warning, add two variables that tracks how many packets we've sent and received in total, and spew warnings if received / sent < warning_percentage, or something of that sort.

[2022-04-02 06:45] Knomax opened #155 "Please add and these reflectors for Greece."
![reflectors](https://user-images.githubusercontent.com/67543411/161370754-af8f77d5-be62-4f9e-908e-31f0d444da05.png)

[2022-04-23 07:32] chas-iot commented on #152
Not forgotten, however $rest-of-life has been busy

[2022-05-02 13:36] chas-iot commented on #32
@Fail-Safe can you help me with the source of this patch?  I looked at getting into OpenWRT but from what I understand, it will not be accepted unless it is supported by upstream developers (paraphrased, likely badly).

[2022-05-02 17:20] Lochnair commented on #32
@chas-iot IIRC Mark wrote that patch himself. I do note however that this might be fixed by upstream here: https://github.com/LuaLanes/lanes/pull/203, it's included in Lanes 3.16.0, looks like OpenWrt master is on 3.13 still, so could possibly be as simple as upgrading the package.

[2022-05-02 18:57] Lochnair commented on #32
@chas-iot We're in luck, upgrading to 3.16.0 does indeed fix the issue. So it's _only_ a matter of getting the package bumped to 3.16.0 and we should be sorted.

Did you have an issue/thread for this with OpenWrt devs somewhere?

[2022-05-03 04:31] chas-iot commented on #32
https://forum.openwrt.org/t/how-to-get-lua-lanes-patched/126139

[2022-06-28 16:58] GitFun4All opened #156 "Suggestion - bash for interpreter"
With the bash package installed in TurrisOS and the interpreter changed to bash the scripts work well on the Omnia Routers too.

[2022-06-28 16:58] #156 closed

[2022-10-07 16:58] pannal opened #157 "What's the difference to cake-autorotate?"
Hey, sorry for the maybe stupid question, but this seems to do the exact same as https://github.com/lynxthecat/cake-autorate while being a lot more complex.

Are the projects basically the same, sqm-autorotate just offering more visualization features?

Thank you!

[2022-10-07 22:46] exokinetic commented on #32
I just upgraded to the latest OpenWRT and am experiencing this issue with sqm-autorate;

fresh install of sqm-autorate
completed config script
interface identified correctly

output of:

tc qdisc | grep cake

shows no change of dl/ul values during change in states: idle/low load/high load

Entire logfile contents (sqm-autorate.log):

lua: error loading module 'lanes.core' from file '/usr/lib/lua/l

[2022-10-07 22:51] exokinetic commented on #32
Official release, NOT snapshot

[2022-10-07 23:26] Lochnair commented on #157
It's not stupid at all :)

The gist of it is that what become sqm-autorate, was originally meant to be a Lua port of cake-autorate,
but do to how Lua works, it proved difficult to do a proper port.

Due to this we ended up with a different approach, so while the projects has the same goal, they function differently.
Currently cake-autorate uses ICMP echo requests (normal ping) to determine latency

[2022-10-07 23:46] Lochnair commented on #32
@exokinetic I really should submit a PR to update the lualanes package, so we get this issue fixed for good.

Meanwhile you _can_ compile an updated package yourself, using the OpenWRT SDK: https://openwrt.org/docs/guide-developer/toolchain/using_the_sdk

I'm not going to explain each step here, you should be fine if you replace the SDK download URL and paths with the appropriate ones for your tar

[2022-10-07 23:58] pannal commented on #157
Oh I never expected such a thorough answer, thank you.

I've just recently moved from using my ASUS RT-AX86U for routing and Wi-Fi, towards a Topton N5105 box with OpenWRT that handles routing, and the ASUS just being an AP. The reason was: I've switched to a 1G down/50M up cable/docsis connection that the ASUS was not under any circumstances able to shape properly, not even with only fq_codel (St

[2022-10-08 00:47] Lochnair commented on #157
No problem :-)

I'm not very familiar with ASUS boxes, did it just run out of juice so to speak shaping at those rates?
I'll have a 1000/50 connection soon myself after moving, so there's a decent chance I'll run into the same problem :D

Topton are those Chinese boxes you can get of Amazon/Aliexpress yeah? Been tempted to go that route sometimes, but I won't need it yet.

Heh, in my opinion the b

[2022-10-08 01:02] pannal commented on #157
Yeah pretty much. _none_ of the current "plastic-routers" (also non-ASUS) can effectively shape a GBit using cake. Only with the shenanigans they've implemented (that add their own issues) they're even capable of exceeding the 600MBit mark using fq_codel.

I love the AX capabilities of the ASUS router, but using those very old ARM SoCs (and making a ton of money while doing so), they're basically

[2022-10-08 12:58] Lochnair commented on #157
Figures. I'll likely end up buying the same box as you or similar. I have a strong dislike for the offloads commonly implemented in those plastic routers.

Yeah most of them is good for Wi-Fi only (if that), for wireless I'm thinking of getting Linksys E8450 (also known as Belkin RT3200) or Unifi 6 (LR) (ceiling-mounted). Not too many choices for 802.11ax with OpenWrt support yet.

Well the RAM/SS

[2022-10-08 14:00] #157 closed

[2022-10-12 05:49] exokinetic commented on #32
Doooooo it ;)

I am falling back to 21.02.1 for now